* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a {
    color: #333;
    /* text-decoration: none; */
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

header h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


header .site-title {
    padding: 20px 16px;
    line-height: 1px;
}


#navi a {
    color: #fff;
    text-decoration: none;
}



nav#navi {
    background-color: #333;
}

nav#navi ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 120px;
}

#navi li {
    font-size: 0.875rem;
    padding: 10px 60px 10px 0;
}

#pickup article {
    width: 32%;
}

#pickup {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 60px;
}

#pickup .article-title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
    text-decoration: none;
}

h2.article-title a{
    text-decoration: none;
}

.readmore {
    font-size: 0.875rem;
    text-align: center;

}

.readmore a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
}

#container {
    display: flex;
    justify-content: space-between!important;
    margin-bottom: 60px;
}

main {
    width: 65%;
}

details, main {
    display: block;
}

main article {
    margin-bottom: 80px;
}

main .article-title {
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
}

main ul {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

main li {
    margin-right:30px;
    font-size: 0.875rem;
}



main .text {
    padding: 10px 40px 30px 40px;
}

/* サイドバー */
aside {
    display: block;
} 

#sidebar {
    width: 33%;
    padding: 20px;
    margin-left:25px;
    
}

.author {
    text-align: center;
    margin-bottom: 60px;
}

.author img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#sidebar .side-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.author .profile {
    font-size: 0.875rem;
    text-align: left;
}

*, :after, :before {
    background-repeat: no-repeat!important;
    box-sizing: inherit!important;
}

#ranking,.side-title {
    text-align: center;
}

.ranking .article-title {
    font-size: 0.875rem;
    font-weight: normal;
    text-align: left;
}

.ranking article {
    margin-bottom: 30px;
}

/* アーカイブ */

.archive {
    text-align: center;
    margin-bottom: 60px;
}

.archive ul {
    border-bottom: solid 1px #777;
}

.archive li {
    font-size: 0.875rem;
    border-top: solid 1px #777;
    padding: 20px;
    text-align: left;
}

.archive li a {
    text-decoration: none;
}

/* footer */
#footer {
    font-size: 0.875rem;
    background-color: #f7f7f7;
}

#footer .content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer .item {
    width: 30%;
}

#footer .footer-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#footer ul.about-list {
    margin: 20px 0;
}

#footer ul.about-list li {
    margin-bottom: 5px;
}

#footer ul.about-list a {
    text-decoration: none;
}

#footer ul.about-list .arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
}

#footer ul.about-list .arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}

#footer .menu-list {
    border-bottom: solid 1px #777;
}

#footer .menu-list > li {
    border-top: solid 1px #777;
    padding: 15px;
    text-align: left;
}

/* footer */
#footer {
    font-size: 0.875rem;
    background-color: #f7f7f7;
}

#footer .copyright {
    font-size: 0.750rem;
    text-align: center;
    padding: 10px 0;
}

.item a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    nav#navi ul {
        padding: 0 16px;
        overflow-x: scroll;
    }

    #navi ul li {
        width: 100%;
        font-size: 0.875rem;
        margin: 10px 10px 10px 0;
    }

    #navi li {
        white-space: nowrap;
        padding:0 40px 0 0;
    }

    #main {
        padding:0px 20px;
    }

    #pickup {
        padding:0px 10px;
    }
    .wrapper {
        padding: 0px;
        margin: 0px!important;
        overflow: hidden;
    }

    ul.wrapper {
        height: 40px;
    }

    nav#navi {
        height: 40px;
    }

    #navi ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #pickup {
        display:initial;
    }

    #pickup article {
        width: 100%;
        overflow: hidden;
        margin:50px 0px;
    }

    #container.wrapper {
        width: 100%;
        display:initial;
    }

    main {
        width: 100%;
        overflow: hidden;
    }

    #sidebar {
        width: 100%;
        overflow: hidden;
        padding: 0px;
        margin-left: 0px;
    }

    #footer {
        padding:0px 20px;
    }
    #footer .content {
        display: initial;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    section.item {
        width: 100%!important;
        padding-top:50px;
    }


}
